boto3==1.36.21
Django==5.1.6
django-anymail[mailgun]==12.0
dj-database-url==2.3.0
django-storages==1.14.4
fontawesomefree==6.6.0
gevent==24.11.1
gunicorn==23.0.0
pillow==11.1.0
pillow-heif==0.21.0
psycopg==3.2.4
sentry-sdk==2.21.0
wagtail==6.4.0
whitenoise==6.9.0

wagtailcodeblock==1.29.0.2